storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget System.Reactive
nuget System.Interactive
nuget System.Management

nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.Extensions.Logging
nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.Binder
nuget Microsoft.Extensions.Configuration.Abstractions

nuget Microsoft.Extensions.Hosting
nuget Microsoft.Extensions.Http

nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Mvc.Abstractions
nuget Microsoft.AspNetCore.Mvc.Core
nuget Microsoft.AspNetCore.Mvc.NewtonsoftJson
nuget Microsoft.AspNetCore.SignalR.Client
nuget Microsoft.AspNetCore.SignalR.Protocols.NewtonsoftJson

nuget Grpc.Tools
nuget Google.Protobuf 

nuget Microsoft.Data.SQLite

nuget Proto.Actor 0.9
nuget Proto.Persistence 0.9
nuget Proto.Remote 0.9

nuget Newtonsoft.Json
nuget K4os.Json.KnownTypes
nuget RestEase 1.5.0
nuget K4os.Text.BaseX

nuget K4os.RoutR
nuget K4os.RoutR.Abstractions

nuget K4os.BoolEx
nuget K4os.BoolEx.Parsing

nuget CommandLineParser
nuget Spectre.Console
 
nuget Serilog
nuget Serilog.Sinks.File
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.Trace
nuget Serilog.Extensions.Logging

nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.NET.Test.Sdk
