html {
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	&[data-theme='light'] {
		--text-color: black;
		--background-color: white;
	}

	@media (prefers-color-scheme: light) {
		&[data-theme='system'] {
			--text-color: black;
			--background-color: white;
		}
	}

	&[data-theme='dark'] {
		--text-color: white;
		--background-color: black;
	}

	@media (prefers-color-scheme: dark) {
		&[data-theme='system'] {
			--text-color: white;
			--background-color: black;
		}
	}

	transition: color 300ms, background-color 300ms;
	color: var(--text-color);
	background-color: var(--background-color);

	#__nuxt {
		transition: background-color 300ms;
		min-height: 100vh;
		min-width: 100vw;
		background-color: var(--background-color);
	}
}
